-extends "base.haml"

-block content
  .row
    %a{href: "{% url 'administration_user_list' %}"}
      .col-md-6
        .well
          %h2
            Administrate users

    %a{href: "{% url 'administration_section_list' %}"}
      .col-md-6
        .well
          %h2
            Administrate sections and permissions

    %a{href: "{% url 'upload_video' %}"}
      .col-md-6
        .well
          %h2
            Uploader un film

    %a{href: "{% url 'administration_video_list' %}"}
      .col-md-6
        .well
          %h2
            Voir toutes les vidéos uploadé
