-extends "base.haml"

-block content
  .row
    %a{href: "{% url 'administration_user_list' %}"}
      .col-md-6
        .well
          %h2
            %span.glyphicon.glyphicon-user{aria-hidden: "true"}
            Administrer les utilisateurs

    %a{href: "{% url 'administration_section_list' %}"}
      .col-md-6
        .well
          %h2
            %span.glyphicon.glyphicon-list-alt{aria-hidden: "true"}
            Administrer les sections

    %a{href: "{% url 'upload_video' %}"}
      .col-md-6
        .well
          %h2
            %span.glyphicon.glyphicon-save{aria-hidden: "true"}
            Uploader un film

    %a{href: "{% url 'administration_video_list' %}"}
      .col-md-6
        .well
          %h2
            %span.glyphicon.glyphicon-film{aria-hidden: "true"}
            Voir toutes les vidéos

  %h1 pouet
  %h2 pouet
  %h3 pouet
  %h4 pouet
  %h5 pouet
  %h6 pouet

  %p p p pouet
