-extends "base.haml"

-block content
  .row
    .col-md-6
      .well
        %h2
          %a{href: "{% url 'administration_user_list' %}"}
            Administrate users

    .col-md-6
      .well
        %h2
          %a{href: "{% url 'administration_section_list' %}"}
            Administrate sections and permissions

    .col-md-6
      .well
        %h2
          %a{href: "{% url 'upload_video' %}"}
            Uploader un film

    .col-md-6
      .well
        %h2
          %a{href: "{% url 'administration_video_list' %}"}
            Voir toutes les vidéos uploadé
