-extends "base.haml"
-load mptt_tags

-block head
  %link{href: "{{ STATIC_URL }}css/fuelux.min.css", rel: "stylesheet"}

-block javascript
  %script{src: "{{ STATIC_URL }}js/fuelux.min.js"}

-block content
  %h1 Sections
  %hr

  .fuelux
    -for section, structure in section_list|tree_info
      -if structure.new_level
        <ul class="{% if forloop.first %}tree tree-folder-select{% else %}tree-branch-children{% endif %}">
          <li class="tree-branch">
      -else
          </li>
          <li class="tree-branch">



      <div class="tree-branch-header">
        <button class="glyphicon icon-caret glyphicon-play" style="transform: rotate(90deg);"><span class="sr-only">Open</span></button>
        <button class="tree-branch-name">
          <span class="tree-label">
            =section.title
          <span style="margin-left: 10px" class="glyphicon glyphicon-plus"></span>
          <span class="glyphicon glyphicon-pencil"></span>
          <span class="glyphicon glyphicon-remove"></span>
          <span class="glyphicon glyphicon-arrow-up"></span>
          <span class="glyphicon glyphicon-arrow-down"></span>
          </span>
        </button>
      </div>

        -for level in structure.closed_levels
            </li>
            </ul>
