-extends "base.haml"
-load mptt_tags

-block content
  %h1 Sections
  %hr

  %ul
    -recursetree section_list
      %li= node.title
      -if not node.is_leaf_node
        %ul.children
          =children
