-extends "base.haml"
-load mptt_tags

-block head
  %link{href: "{{ STATIC_URL }}css/fuelux.min.css", rel: "stylesheet"}
  %link{href: "{{ STATIC_URL }}css/section_list.css", rel: "stylesheet"}


-block javascript
  %script{src: "{{ STATIC_URL }}js/fuelux.min.js"}

  :javascript
    $(".new-same-section").each(function(_, node) {
      // awesomely dirty code to get the id of the parent of current level stored in the <ul> because |tree_info sucks for that
      node.attributes["value"].value = $(node).parents("ul")[0].attributes["data-parent-id"].value;
    })

    $(".add").click(function(node) {
      $($(node.target).parents(".tree-branch-header")[0]).find(".hidden-add").show();
    })

    reset = function() {
      $(".edit-form").hide();
      $(".remove-form").hide();
      $(".hidden-add").hide();
      $(".section").show();
    }

    $(".edit").click(function(node) {
      // reset previous hidden edit form
      reset();

      var parent = $($(node.target).parents(".tree-branch-header")[0]);
      parent.find(".section").hide();
      parent.find(".edit-form").show();
    })

    $(".remove").click(function(node) {
      // reset previous hidden edit form
      reset();

      var parent = $($(node.target).parents(".tree-branch-header")[0]);
      parent.find(".section").hide();
      parent.find(".remove-form").show();
    })

    $(".cancel").click(reset);

-block content
  %h1 Sections
  %hr

  -for section_list in top_section_list
    .fuelux{style: "font-size: 18px"}
      -for section, structure in section_list|tree_info
        -if structure.new_level
          <ul class="{% if forloop.first %}tree tree-folder-select{% else %}tree-branch-children{% endif %}" data-parent-id="{{ section.parent.id }}">
            <li class="tree-branch">
        -else
            </li>
            <li class="tree-branch">



        .tree-branch-header
          %form.edit-form.form-inline{method: "POST", action: "{% url 'administration_section_update' section.pk %}", style: "display: none"}
              %span.glyphicon.icon-caret.glyphicon-play{style: "transform: rotate(90deg);"}
                %span.sr-only Open
              -csrf_token
              %input.input-sm{type: "text", value: "{{ section.title }}", name: "title"}
              %button.btn.btn-default.btn-sm{type: "submit"}
                Modifier
              %a.cancel.btn.btn-sm.btn-primary{href: "#"} Annuler
          %form.remove-form{method: "POST", action: "{% url 'administration_section_delete' section.pk %}", style: "display: none"}
            %span.glyphicon.icon-caret.glyphicon-play{style: "transform: rotate(90deg);"}
              %span.sr-only Open
            -csrf_token
            =section.title
            %a.cancel.btn.btn-sm.btn-primary{href: "#"} Annuler
            %input.btn.btn-sm.btn-danger{type: "submit", value: "Confirmer la suppression"}
          %span.section
            %span.glyphicon.icon-caret.glyphicon-play{style: "transform: rotate(90deg);"}
              %span.sr-only Open
            %span.tree-label
              =section.title
              %a.section-button.add.glyphicon.glyphicon-plus{href: "#"}
              %a.section-button.edit.glyphicon.glyphicon-pencil{href: "#"}
              %a.section-button.remove.glyphicon.glyphicon-remove{href: "#"}
              -#
                %span.glyphicon.glyphicon-arrow-up
                %span.glyphicon.glyphicon-arrow-down
          %ul.tree-branch-children.hidden-add{style: "display: none"}
            %li.tree-branch
              %form.form-inline{method: "POST", action: "{% url 'administration_section_create' %}"}
                .tree-branch-header
                  %span.glyphicon.icon-caret.glyphicon-play{style: "transform: rotate(90deg);"}
                    %span.sr-only Open
                  -csrf_token
                  %input{type: "text", style: "display: none;", value: '{{ section.id }}', name: "parent"}
                  %input.input-sm{type: "text", value: "", name: "title"}
                  %button.btn.btn-default.btn-sm{type: "submit"}
                    Rajouter
                  %a.cancel.btn.btn-sm.btn-primary{href: "#"} Annuler

        -for level in structure.closed_levels
          </li>
          %li.tree-branch
            %form.form-inline{method: "POST", action: "{% url 'administration_section_create' %}"}
              .tree-branch-header
                %span.glyphicon.icon-caret.glyphicon-play{style: "transform: rotate(90deg);"}
                  %span.sr-only Open
                -csrf_token
                %input.new-same-section{type: "text", style: "display: none;", value: '', name: "parent"}
                %input.input-sm{type: "text", name: "title"}
                %button.btn.btn-default.btn-sm{type: "submit"}
                  Rajouter
          </ul>
