-extends "base.haml"
-load mptt_tags

-block head
  %link{href: "{{ STATIC_URL }}css/fuelux.min.css", rel: "stylesheet"}
  :css
    a.add {
      margin-left: 10px;
    }

    a.add:hover {
      text-decoration: none;
      color: lawngreen;
    }


    a.edit:hover {
      text-decoration: none;
      color: cornflowerblue;
    }


    a.remove:hover {
      text-decoration: none;
      color: red;
    }


-block javascript
  %script{src: "{{ STATIC_URL }}js/fuelux.min.js"}

-block content
  %h1 Sections
  %hr

  .fuelux{style: "font-size: 18px"}
    -for section, structure in section_list|tree_info
      -if structure.new_level
        <ul class="{% if forloop.first %}tree tree-folder-select{% else %}tree-branch-children{% endif %}">
          <li class="tree-branch">
      -else
          </li>
          <li class="tree-branch">



      .tree-branch-header
        %span.glyphicon.icon-caret.glyphicon-play{style: "transform: rotate(90deg);"}
          %span.sr-only Open
        %span.tree-label
          =section.title
          %a.add.glyphicon.glyphicon-plus{href: "#"}
          %a.edit.glyphicon.glyphicon-pencil{href: "#"}
          %a.remove.glyphicon.glyphicon-remove{href: "#"}
          -#
            %span.glyphicon.glyphicon-arrow-up
            %span.glyphicon.glyphicon-arrow-down

      -for level in structure.closed_levels
          </li>
          </ul>
