-extends "base.haml"

-block content
  .row
    .col-md-6
      %h1 Utilisateurs
      %hr

      .list-group
        -for user in user_list
          %a.list-group-item{href: "{% url 'administration_user_detail' user.pk %}"}
            -if user.is_staff
              <b>
            -if user.first_name and user.last_name
              =user.first_name
              =user.last_name
              ({{ user.username }})
            -else
              =user.username
            \-
            &lt;{{ user.email }}&gt;
            -if user.is_staff
              \- administrateur
              </b>

      %a.btn.btn-lg.btn-primary{href: "{% url 'administration_user_create' %}"}
        Rajouter un nouvel utilisateur

    .col-md-6
      %h1 Groupes
      %hr

      .list-group
        -for group in group_list
          %a.list-group-item{href: "{% url 'administration_group_detail' group.pk %}"}
            =group.name

      %a.btn.btn-lg.btn-primary{href: "{% url 'administration_group_create' %}"}
        Rajouter un nouveau groupe
