-extends "base.haml"
-load section_tags

-block head
  %link{href: "{{ STATIC_URL }}css/bootstrap-switch.min.css", rel: "stylesheet"}
  :css
    .bootstrap-switch {
      border-color: #3A3D44;
    }

    .bootstrap-switch .bootstrap-switch-label {
      background: #D0D0D0;
    }

-block content
  .row
    .col-md-6
      %h1 Utilisateur:
        =object.username
      %hr

      %p Nom:
        =object.last_name
      %p Prénom:
        =object.first_name
      %p Adresse email:
        =object.email

      %a.btn.btn-primary.btn-lg{href: "{% url 'administration_user_update' object.pk %}"}
        Modifier

    .col-md-6
      %h2 Permissions
      %hr

      %h3 Tournages
      %ul
        -for subsection in subsection_list
          -if subsection.section == "1"
            %li= subsection.title
            %ul
              -for subsubsection in subsection.subsubsection_set.all
                %li= subsubsection.title
                  %input{type: "checkbox", name: "foobar", data-size: "mini", data-on-color: "success", data-off-color: "danger", data-on-text: "autorisé", data-off-text: "non&#8239;autorisé", data-user-id: "{{ user.id }}", data-section-id: "{{ subsubsection.id }}", data-has-permission: "{% is_user_have_access subsubsection user %}"}

-block javascript
  %script{src: "{{ STATIC_URL }}js/ajax_django_magic.js"}
  %script{src: "{{ STATIC_URL }}js/bootstrap-switch.min.js"}
  :javascript
    $(function() {
      $("[name='foobar']").each(function(index, data) {
        if (data.attributes["data-has-permission"].value == "true") {
          data.checked = true;
        }
        $(data).bootstrapSwitch();
      });
    })
