-extends "base.haml"

-block content
  %h1 Utilisateur:
    =object.username
  %hr

  %p Nom:
    =object.last_name
  %p Prénom:
    =object.first_name
  %p Adresse email:
    =object.email

  %a.btn.btn-primary.btn-lg{href: "{% url 'administration_user_update' object.pk %}"}
    Modifier

  %h2 Permissions
  %hr
