-extends "base.haml"
-load mptt_tags
-load section_tags

-block content
  -if video_list
    %h3 Vidéos non classées
    %hr
    .row
      -for video in video_list
        .col-md-4
          -include "video/thumbnail.haml"

  -for section, structure in section_list|tree_info
    -if structure.new_level and not forloop.first
      -increment "level"

    <h{{ level }}>
    =section.title
    </h{{ level }}>

    .row
      -for videosection in section.videosection_set.all
        .col-md-4
          -with video=videosection.video
            -include "video/thumbnail.haml"

    -for level in structure.closed_levels
      -decrement "level"
