-extends "base.haml"
-load mptt_tags
-load section_tags

-block javascript
  %link{href: "{{ STATIC_URL }}css/theme.bootstrap.css", rel: "stylesheet"}
  %script{src: "{{ STATIC_URL }}js/bootstrap.min.js"}
  %script{src: "{{ STATIC_URL }}js/jquery.tablesorter.js"}
  %script{src: "{{ STATIC_URL }}js/jquery.tablesorter.widgets.js"}
  :javascript
    $(function() {
      $.tablesorter.themes.bootstrap = {
        table        : 'table table-bordered table-striped',
        caption      : 'caption',
        // header class names
        header       : 'bootstrap-header', // give the header a gradient background (theme.bootstrap_2.css)
        sortNone     : '',
        sortAsc      : '',
        sortDesc     : '',
        active       : '', // applied when column is sorted
        hover        : '', // custom css required - a defined bootstrap style may not override other classes
        // icon class names
        icons        : 'icon-white', // add "icon-white" to make them white; this icon class is added to the <i> in the header
        iconSortNone : 'bootstrap-icon-unsorted', // class name added to icon when column is not sorted
        iconSortAsc  : 'icon-chevron-up glyphicon glyphicon-chevron-up', // class name added to icon when column has ascending sort
        iconSortDesc : 'icon-chevron-down glyphicon glyphicon-chevron-down', // class name added to icon when column has descending sort
        filterRow    : '', // filter row class
        footerRow    : '',
        footerCells  : '',
        even         : '', // even row zebra striping
        odd          : ''  // odd row zebra striping
      };

      $("table").tablesorter({
        theme: "bootstrap",
        widthFixed: false,
        headerTemplate : '{content} {icon}',
        widgets : [ "uitheme", "filter", "zebra" ],

        widgetOptions : {
          zebra : ["even", "odd"],
          filter_reset : ".reset"
        }
      });

      // beeeeeeeeeeeh
      $(".tablesorter-filter").addClass("form-control");
      $(".tablesorter-filter").slice(2).parents("td").addClass("hidden-xs");
      $(".tablesorter-filter").slice(3).parents("td").addClass("hidden-sm");

      $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      });
    });


  :css
    .nav.nav-pills {
      font-size: 20px;
    }

    #videosList .glyphicon {
      font-size: 65%;
    }

-block content
  %div{role: "tabpanel"}
    .row
      %h1
        Toutes les vidéos
        %small.pull-right
          %ul#myTab.nav.nav-pills
            %li.active{role: "tablist"}
              %a{href: "#videosList", aria-controls: "videosList", data-toggle: "tab"}
                %span.glyphicon.glyphicon-align-left{aria-hidden: "true"}
            %li{role: "tablist"}
              %a{href: "#videosTable", aria-controls: "videosTable", data-toogle: "tab"}
                %span.glyphicon.glyphicon-list-alt{aria-hidden: "true"}
      %hr

    .tab-content
      #videosList.tab-pane.active{role: "tabpanel"}
        -if video_list
          %h3
            %span.glyphicon.glyphicon-play
            Vidéos non classées
          %hr
          .row
            -for video in video_list
              .col-md-6
                -include "video/thumbnail.haml"

        -for section, structure in section_list|tree_info
          <h{% level_to_heading_number section.level %}>
            %span.glyphicon.glyphicon-play
            =section.title
          </h{% level_to_heading_number section.level %}>

          .row
            -for videosection in section.videosection_set.all
              .col-md-6
                -with video=videosection.video
                  -include "video/thumbnail.haml"


      #videosTable.tab-pane{role: "tabpanel"}
        %table.tablesorter
          %thead
            %tr
              %th
                Nom
              %th.filter-select.filter-select-nosort{data-placeholder: "Choisissez une section"}
                Section
              %th.hidden-xs
                Durée
              %th.hidden-sm.hidden-xs
                Résolution
              %th.hidden-sm.hidden-xs
                taille
              %th.hidden-sm.hidden-xs
                Fps

          %tfoot
            %tr
              %th
                Nom
              %th
                Section
              %th.hidden-xs
                Durée
              %th.hidden-sm.hidden-xs
                Résolution
              %th.hidden-sm.hidden-xs
                taille
              %th.hidden-sm.hidden-xs
                Fps

          %tbody
            -for video in video_list
              %tr
                %td
                  %a{href: "{% url 'administration_video_detail' video.pk %}"}
                    %img.pull-left{src: "{{ video.thumbnail_uri }}", alt: "{{ video.title }}", style: "height: 60px; margin-right: 5px"}
                  %a{href: "{% url 'administration_video_detail' video.pk %}"}
                    =video.title
                  %br
                  %a.btn.btn-sm.btn-default{href: "{{ MEDIA_URL }}videos/{{ video.file_name }}"}
                    Télécharger
                %td
                %td.hidden-xs
                  =video.duration
                %td.hidden-sm.hidden-xs
                  =video.width_x_height
                %td.hidden-sm.hidden-xs
                  =video.file_size
                %td.hidden-sm.hidden-xs
                  =video.fps|floatformat|cut:",0"
                  fps
            -for section, structure in section_list|tree_info
              -for videosection in section.videosection_set.all
                -with video=videosection.video
                  %tr
                    %td
                      %a{href: "{% url 'administration_video_detail' video.pk %}"}
                        %img.pull-left{src: "{{ video.thumbnail_uri }}", alt: "{{ video.title }}", style: "height: 60px; margin-right: 5px"}
                      %a{href: "{% url 'administration_video_detail' video.pk %}"}
                        =video.title
                      %br
                      %a.btn.btn-sm{href: "{{ MEDIA_URL }}videos/{{ video.file_name }}"}
                        Télécharger
                    %td
                      =section.display_level_indicator
                      =section.title
                    %td.hidden-xs
                      =video.duration
                    %td.hidden-sm.hidden-xs
                      =video.width_x_height
                    %td.hidden-sm.hidden-xs
                      =video.file_size
                    %td.hidden-sm.hidden-xs
                      =video.fps|floatformat|cut:",0"
                      fps
