-extends "base.haml"
-load mptt_tags
-load section_tags

-block javascript
  %link{href: "{{ STATIC_URL }}css/theme.bootstrap.css", rel: "stylesheet"}
  %script{src: "{{ STATIC_URL }}js/jquery.tablesorter.js"}
  %script{src: "{{ STATIC_URL }}js/jquery.tablesorter.widgets.js"}
  :javascript
    $(function() {
      $.tablesorter.themes.bootstrap = {
        table        : 'table table-bordered table-striped',
        caption      : 'caption',
        // header class names
        header       : 'bootstrap-header', // give the header a gradient background (theme.bootstrap_2.css)
        sortNone     : '',
        sortAsc      : '',
        sortDesc     : '',
        active       : '', // applied when column is sorted
        hover        : '', // custom css required - a defined bootstrap style may not override other classes
        // icon class names
        icons        : 'icon-white', // add "icon-white" to make them white; this icon class is added to the <i> in the header
        iconSortNone : 'bootstrap-icon-unsorted', // class name added to icon when column is not sorted
        iconSortAsc  : 'icon-chevron-up glyphicon glyphicon-chevron-up', // class name added to icon when column has ascending sort
        iconSortDesc : 'icon-chevron-down glyphicon glyphicon-chevron-down', // class name added to icon when column has descending sort
        filterRow    : '', // filter row class
        footerRow    : '',
        footerCells  : '',
        even         : '', // even row zebra striping
        odd          : ''  // odd row zebra striping
      };

      $("table").tablesorter({
        theme: "bootstrap",
        widthFixed: false,
        headerTemplate : '{content} {icon}',
        widgets : [ "uitheme", "filter", "zebra" ],

        widgetOptions : {
          zebra : ["even", "odd"],
          filter_reset : ".reset"
        }
      });

      // beeeeeeeeeeeh
      $(".tablesorter-filter").addClass("form-control");
    });


-block content
  %table.tablesorter
    %thead
      %tr
        %th
          Nom
        %th.filter-select.filter-exact{data-placeholder: "Choisissez une section"}
          Section

    %tfoot
      %tr
        %th
          Nom
        %th
          Section

    %tbody
      -for video in video_list
        %tr
          %td
            %a{href: "{% url 'administration_video_detail' video.pk %}"}
              =video.title
          %td
      -for section, structure in section_list|tree_info
        -for videosection in section.videosection_set.all
          -with video=videosection.video
            %tr
              %td
                %a{href: "{% url 'administration_video_detail' video.pk %}"}
                  =video.title
              %td
                =section.display_level_indicator
                =section.title

  -if video_list
    %h3 Vidéos non classées
    %hr
    .row
      -for video in video_list
        .col-md-6
          -include "video/thumbnail.haml"

  -for section, structure in section_list|tree_info
    -if structure.new_level and not forloop.first
      -increment "level"

    <h{{ level }}>
    =section.title
    </h{{ level }}>

    .row
      -for videosection in section.videosection_set.all
        .col-md-6
          -with video=videosection.video
            -include "video/thumbnail.haml"

    -for level in structure.closed_levels
      -decrement "level"
