-extends "base.haml"
-load mptt_tags
-load section_tags

-block content
  -if video_list
    %h3 Vidéos non classées
    %hr
    .row
      -for video in video_list
        .col-md-4
          .well.well-sm{style: "padding: 0px; height: 148px"}
            .pull-left{style: "margin-right: 10px"}
              %a{href: "{% url 'administration_video_detail' video.id %}"}
                %img{src: "http://placekitten.com/230/146", alt: "video.title"}
                %span{style: "position: absolute; right: 215px; bottom: 24px; background-color: rgba(0, 0, 0, .7); padding: 5px; padding-top: 0px"}
                  13:42
            %a{href: "{% url 'administration_video_detail' video.id %}"}
              %h5{style: "margin-top: 3px"}
                =video.title|truncatechars:"60"

            %p
              %b Définition :
              123
              %br
              %b Taille :
              123
              %br
              %b Fréquence :
              123


  -for section, structure in section_list|tree_info
    -if structure.new_level and not forloop.first
      -increment "level"

    <h{{ level }}>
    =section.title
    </h{{ level }}>

    .row
      -for videosection in section.videosection_set.all
        .col-md-3
          .thumbnail
            %img{src: "http://placekitten.com/420/270", alt: "videosection.video.title"}
            .caption
              %h4= videosection.video.title
              %p
                %i= video.observations
              %a.btn.btn-primary{href: "{% url 'administration_video_detail' videosection.video.id %}"}
                Regarder

    -for level in structure.closed_levels
      -decrement "level"
