-extends "registration/base.haml"

-load bootstrap3

-block content
  %h1 Mot de passe oublié ?

  %p Saisissez votre identifiant ainsi que votre adresse e-mail ci-dessous. Après vérification de votre identité, l’équipe Saya vous enverra votre mot de passe.

  %form{method: "POST"}
    -csrf_token

    -bootstrap_form form

    %input.btn.btn-primary{type: "submit", value: "Soumettre"}
