-extends "bootstrap3/bootstrap3.html"

-load bootstrap3

-block bootstrap3_title
  Saya-Films

-block bootstrap3_extra_head
  :css
    div.container {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      display: table;
    }

    .row {
      display: table-cell;
      vertical-align: middle;
    }

    body, html {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    h1 {
      margin-top: 0px;
      margin-bottom: 20px;
    }

-block bootstrap3_content
  .container
    .row
      .col-md-4.col-md-offset-4
        .well
          %h1 Connexion

          -if form.errors
            .alert.alert-danger
              Le nom d'utilisateur ou le mot de passe saisi est incorrect.

          %form{method: "POST"}
            -csrf_token

            .form-group
              %label.control-label{for: "username"}
                Nom d'utilisateur
              %input#id_username.form-control{type: "text", required: "required", placeholder: 'Nom d´utilisateur', name: "username", maxlength: "254", value: "{% if form.username.value %}{{ form.username.value }}{% endif %}"}
              -for error in form.username.errors
                %span.help-block= error

            .form-group{class: "{% if form.errors %}has-error{% endif %}"}
              %label.control-label{for: "password"}
                Mot de passe
              %input#id_password.form-control{type: "password", required: "", placeholder: "Mot de passe", name: "password", value: ""}
              -for error in form.password.errors
                %span.help-block= error

            %input.btn.btn-primary{type: "submit", value: "Se connecter"}
            %a.pull-right{href: "{% url 'password_reset' %}"}
              Mot de passe perdu
