-extends "registration/base.haml"

-load bootstrap3

-block content
  %h1 Connexion

  -if form.errors
    .alert.alert-danger
      Le nom d'utilisateur ou le mot de passe saisi est incorrect.

  -if next
    .alert.alert-info
      Veuillez vous connecter pour pouvoir voir cette page.

  %form{method: "POST"}
    -csrf_token

    .form-group
      %label.control-label{for: "username"}
        Nom d'utilisateur
      %input#id_username.form-control{type: "text", required: "required", placeholder: 'Nom d´utilisateur', name: "username", maxlength: "254", value: "{% if form.username.value %}{{ form.username.value }}{% endif %}"}
      -for error in form.username.errors
        %span.help-block= error

    .form-group{class: "{% if form.errors %}has-error{% endif %}"}
      %label.control-label{for: "password"}
        Mot de passe
      %input#id_password.form-control{type: "password", required: "", placeholder: "Mot de passe", name: "password", value: ""}
      -for error in form.password.errors
        %span.help-block= error

    %input.btn.btn-primary{type: "submit", value: "Se connecter"}
    %a.pull-right{href: "{% url 'password_reset' %}"}
      Mot de passe perdu
