Vous avez effectué une demande de réinitialisation de mot de passe sur votre compte play.saya.fr.

Veuillez cliquer sur le lien ci-dessous afin de générer un nouveau mot de passe :

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Votre nom d'utilisateur : {{ user.get_username }}

Si vous n’êtes pas à l’origine de cette demande, il vous suffit de ne pas suivre le lien indiqué afin de conserver votre mot de passe actuel.

Merci d'utiliser notre site !

L'équipe play.saya.fr
