{% extends "registration/base.haml" %}

{% block content %}
<h1>Mot de passe perdu</h1>
<hr>

<p>Mot de passe perdu ? Saisissez votre adresse électronique ci-dessous et nous vous enverrons les instructions pour en créer un nouveau.</p>

<form action="" method="post">{% csrf_token %}
    {{ form.email.errors }}
    <div class="form-group">
        <label for="id_email">Adresse email :</label>
        <input class="form-control {% if form.errors %}has-error{% endif %}" id="id_email" type="email" required="required" placeholder="Adresse email" name="email"/>
    </div>

    <input class="btn btn-primary" type="submit" value="Réinitialiser mon mot de passe" />
</form>
{% endblock %}
