{% extends "registration/base.haml" %}

{% load bootstrap3 %}

{% block content %}
<h1>Réinitialisation du mot de passe</h1>

<p>Si vous avez oublié votre mot de passe, merci d'indiquer dans le formulaire ci-dessous l'adresse email associée à votre compte. Nous vous ferons parvenir un lien permettant d’en générer un nouveau.</p>

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}

    <input class="btn btn-primary" type="submit" value="Envoyer la demande">

</form>

{% endblock %}
