-extends "base.haml"

-block content
  %h2
    %a{href: "{% url 'administration_user_list' %}"}
      Administrate users

  %h2
    %a{href: "{% url 'administration_section_list' %}"}
      Administrate sections and permissions

  %h2
    %a{href: "{% url 'upload_video' %}"}
      Uploader un film
