%html
  %head
    %title
      =object.title
    %script{src: "{{ STATIC_URL }}js/jquery.min.js"}
    %script{src: "{{ STATIC_URL }}mediaelementjs/mediaelement-and-player.min.js"}
    %link{rel: "stylesheet", href: "{{ STATIC_URL }}mediaelementjs/mediaelementplayer.min.css"}

    :javascript
      $(function() {
        $("video").mediaelementplayer();
      })

  %body{style: "margin 0; padding: 0; border: 0 none"}
    .player{style: "margin 0; padding: 0; border: 0 none"}
      %video{src: "{{ MEDIA_URL }}videos/{{ object.file_name }}", width: "100%", height: "100%"}
