-extends "base.haml"

-block content
  %hr
  %form.well.col-md-4.col-md-offset-4{method: "POST"}
    %center
      -csrf_token
      %h3{style: "margin-top: 0px"}
        Êtes-vous sûr de vouloir supprimer le groupe <b>{{ object.name }}</b> ?
      %hr
      %input.btn.btn-danger{type: "submit", value: "Oui"}
      %a.btn.btn-info{href: "{% url 'administration_group_detail' object.pk %}"}
        Annuler
