-extends "base.haml"

-block content
  %h1 Sections
  %hr

  %h2 Tournages
  %ul
    -for subsection in subsection_list
      -if subsection.section == "1"
        %li= subsection.title
    %li
      %form.form-inline{method: "POST", action: "new/"}
        -csrf_token
        .form-group
          %input#id_section.form-control{type: "text", placeholder: "titre", required: "", style: "display: none;", value: '1', name: "section"}
          %input#id_title.form-control{type: "text", placeholder: "titre", required: "", name: "title"}
        %button.btn.btn-default{type: "submit"}
          Rajouter un nouveau tournage

  %h2 Montages
  %ul
    -for subsection in subsection_list
      -if subsection.section == "2"
        %li= subsection.title
    %li
      %form.form-inline{method: "POST", action: "new/"}
        -csrf_token
        .form-group
          %input#id_section.form-control{type: "text", placeholder: "titre", required: "", style: "display: none;", value: '2', name: "section"}
          %input#id_title.form-control{type: "text", placeholder: "titre", required: "", name: "title"}
        %button.btn.btn-default{type: "submit"}
          Rajouter un nouveau montage

  %h2 Producteurs
  %ul
    -for subsection in subsection_list
      -if subsection.section == "3"
        %li= subsection.title
    %li
      %form.form-inline{method: "POST", action: "new/"}
        -csrf_token
        .form-group
          %input#id_section.form-control{type: "text", placeholder: "titre", required: "", style: "display: none;", value: '3', name: "section"}
          %input#id_title.form-control{type: "text", placeholder: "titre", required: "", name: "title"}
        %button.btn.btn-default{type: "submit"}
          Rajouter un nouveau producteur
