-extends "base.haml"

-block content
    %form.well.col-md-4.col-md-offset-4{method: "POST"}
      %center
        -csrf_token
        %h2{style: "margin-top: 0px"}
          Êtes-vous sûr de vouloir supprimer l'utilisateur "{{ object }}" ?
        %hr
        %input.btn.btn-danger{type: "submit", value: "Oui"}
