-extends "base.haml"

-block javascript
  %script{src: "{{ STATIC_URL }}mediaelementjs/mediaelement-and-player.min.js"}
  %link{rel: "stylesheet", href: "{{ STATIC_URL }}mediaelementjs/mediaelementplayer.min.css"}

  %script{src: "{{ STATIC_URL }}js/plyr.js"}
  %script{src: "{{ STATIC_URL }}js/docs.js"}
  %link{href: "{{ STATIC_URL }}css/plyr.css", rel: "stylesheet"}

  %script{src: "{{ STATIC_URL }}js/video_detail.js"}

  :javascript
    (function(d,p){
        var a=new XMLHttpRequest(),
            b=d.body;
        a.open("GET",p,!0);
        a.send();
        a.onload=function(){
            var c=d.createElement("div");
            c.style.display="none";
            c.innerHTML=a.responseText;
            b.insertBefore(c,b.childNodes[0])
        }
    })(document,"{{ STATIC_URL }}svg/sprite.svg");

    plyr.setup({
      debug: true,
      html: templates.controls.render({}),
    });

  :css
    /* prevent bootstrap from breaking player */
    input[type="range"] {
      width: 100px;
      display: inline-block;
    }

    .player-controls {
      background: #3A3D44;
    }

    .player-progress-played[value] {
      color: #C8C8C8;
    }

    .player-controls button:hover,.player-controls input+label:hover{
      background:#666666;
    }

-block content
  .well{ng-app: "soya", ng-controller: "editVideoDetailsController", style: "padding: 0; border: 0px"}
    .player
      %video{src: "{{ MEDIA_URL }}videos/{{ object.file_name }}", width: "100%", height: "auto", controls: "controls", type: "video/mp4"}

    %div{ng-init: 'title="{{ object.title|default:"" }}"'}
    %div{ng-init: 'film_name="{{ object.film_name|default:"" }}"'}
    %div{ng-init: 'realisation="{{ object.realisation|default:"" }}"'}
    %div{ng-init: 'production="{{ object.production|default:"" }}"'}
    %div{ng-init: 'photo_direction="{{ object.photo_direction|default:"" }}"'}
    %div{ng-init: 'observations="{{ object.observations|default:"" }}"'}
    %div{ng-init: 'subsubsection="{{ object.videosection|default:"" }}"'}
    %div{ng-init: 'subsubsection_id="{{ object.videosection.subsubsection.id|default:"" }}"'}
    %div{style: "padding: 20px;"}
      %div{ng-if: "inEditMode == false"}
        %h2{style: "margin-top: 0px"}
          {& title &}

          %a.btn.btn-small.btn-info.pull-right{href: "{{ MEDIA_URL }}videos/{{ object.file_name }}"} Télécharger
        %hr

        .row
          .col-md-6
            %p
              %b Nom du film:
              {& film_name &}
            %p
              %b Realisation:
              {& realisation &}

          .col-md-6
            %p
              %b Production:
              {& production &}
            %p
              %b Direction photo:
              {& photo_direction &}

        %p
          %i {& observations &}

        %p
          %b Section:
          {& subsubsection &}

        %button.btn.btn-primary{ng-click: "toggleEditMode()"}
          Éditer


      %div{ng-if: "inEditMode == true"}
        %form{ng-submit: "toggleEditMode()"}
          -csrf_token
          .col-md-10{style: "padding-left: 0px; margin-bottom: 36px"}
            .input-group
              %span.input-group-addon Titre:
              %input#id_title.form-control{type: "text", ng-model: "title"}

          %a.btn.btn-small.btn-info.pull-right{href: "{{ MEDIA_URL }}videos/{{ object.file_name }}"} Télécharger

          .row
            .col-md-6
              %p
                .input-group
                  %span.input-group-addon Nom du film:
                  %input#id_film_name.form-control{type: "text", ng-model: "film_name"}

              %p
                .input-group
                  %span.input-group-addon Réalisation:
                  %input#id_realisation.form-control{type: "text", ng-model: "realisation"}

            .col-md-6
              %p
                .input-group
                  %span.input-group-addon Production:
                  %input#id_production.form-control{type: "text", ng-model: "production"}

              %p
                .input-group
                  %span.input-group-addon Direction photo:
                  %input#id_photo_direction.form-control{type: "text", ng-model: "photo_direction"}

          .form-group
            %label{for: "id_observations"}
              Obersations:
            %textarea#id_observations.form-control{type: "text", ng-model: "observations"}
          .form-group
            %label.control-label{for: "id_subsubsection"}
              Section
            %select#id_subsubsection.form-control{name: "subsubsection", title: "", ng-model: "upload.subsubsection", ng-model: "subsubsection_id"}
              %option{value: "", selected: "selected"}
                \---------
              -for subsection in subsection_list
                %optgroup{label: "{{ subsection.title }}"}
                -for subsubsection in subsection.subsubsection_set.all
                  %option{value: "{{ subsubsection.id }}"}
                    =subsubsection.title

          %p
            %button.btn.btn-primary{ng-click: "toggleEditMode()"}
              Sauver
