-extends "regular_users_interface/video_detail.haml"

-block administration
  %h2 Dans les sections
  -for section in video.videosection_set.all
    %p= section

  %a{href: "{% url 'administration_video_list' %}"}
    Liste des vidéos
