-extends "base.haml"

-block content
  %h1 Video
  %hr

  %ul
    -for video in video_list
      %li
        %a{href: "{% url 'administration_video_detail' video.pk %}"}= video.title

  %a.btn.btn-lg.btn-primary{href: "{% url 'upload_video' %}"}
    Uploader une autre vidéo
