.nav.nav-pills {
    font-size: 20px;
}

#videosList .glyphicon {
    font-size: 65%;
}

.toggled span {
    transform: rotate(90deg);
}

a.caret-toggle:link {
    text-decoration: none;
}

a.caret-toggle:visited {
    text-decoration: none;
}

a.caret-toggle:active {
    text-decoration: none;
}

a.caret-toggle:hover {
    text-decoration: none;
}

.section {
    padding-top: 30px;
}

#videosTable {
    padding-top: 30px;
}

.onVideosTable {
    display: none;
}

.subsection-level-3 {
    padding-left: 20px;
}

.subsection-level-4 {
    padding-left: 40px;
}

.subsection-level-5 {
    padding-left: 60px;
}

.subsection-level-6 {
    padding-left: 80px;
}

.subsection-level-7 {
    padding-left: 100px;
}

.tablesorter-filter.disabled {
    display: none;
}
