-extends "bootstrap3/bootstrap3.html"

-block bootstrap3_title
  Voltairine

-block bootstrap3_extra_head
  %link{href: "{{ STATIC_URL }}css/simple-sidebar.css", rel: "stylesheet"}
  %link{href: "{{ STATIC_URL }}css/sticky-footer.css", rel: "stylesheet"}
  -block head


-block bootstrap3_content
  #wrapper
    #sidebar-wrapper
      %ul.sidebar-nav
        %li.sidebar-brand
          %a{href: "/"}
            Menu
        %li
          %a{href: "{% url 'upload_video' %}"}
            Uploader des vidéos
        %li
          %a{href: "{% url 'administration_user_list' %}"}
            Utilisateurs et groupes
        %li
          %a{href: "{% url 'administration_section_list' %}"}
            Sections
        %li
          %a{href: "{% url 'administration_video_list' %}"}
            Toutes les vidéos
        %hr
        %li
          %a{href: "{% url 'logout' %}"}
            Déconnexion


    .heading-brand
      %h1{style: "padding: 0"}
        %a{href: "/"}
          Voltairine
      %hr

    #page-content-wrapper
      .container-fluid
        -block content

  %footer.footer
    .container
      %center
        %p.text-muted.admin
          Voltairine

-block bootstrap3_extra_script
  %script{src: "{{ STATIC_URL }}js/angular.js"}
  %script{src: "{{ STATIC_URL }}js/angular-cookies.js"}
  %script{src: "{{ STATIC_URL }}js/angular-sanitize.js"}
  %script{src: "{{ STATIC_URL }}js/base.js"}
  -block javascript
