-extends "regular_users_interface/base.haml"

-load static

-block javascript
  %script{src: "{% static 'mediaelementjs/mediaelement-and-player.min.js' %}"}
  %link{rel: "stylesheet", href: "{% static 'mediaelementjs/mediaelementplayer.min.css' %}"}

  %script{src: "{% static 'js/video_detail.js' %}"}

  :javascript
    $(function() {
      $("video").mediaelementplayer({
        success: function(mediaElement) {
          mediaElement.addEventListener('loadeddata', function() {
            // horrible hack because on dynamic size, when the video is loaded yet, the player has an height of 0px
            mediaElement.style.height = "100%";
            mediaElement.player.height = "100%";
            $(window).resize();
          })
        }
      });
    })

-block content
  .well{style: "padding: 0; border: 0px"}
    .player
      %video{src: "{{ MEDIA_URL }}videos/{{ object.video.file_name }}", width: "100%", height: "100%", style: "width: 100%; height: 41vw"}

    %div{style: "padding: 20px;"}
      %h2{style: "margin-top: 0px"}
        {{ object.video.title|default:"" }}

      %hr

      .row
        -if object.video.film_name and object.video.realisation
          .col-md-6
            -if object.video.film_name
              %p
                %b Nom du film :
                {{ object.video.film_name|default:"" }}
            -if object.video.realisation
              %p
                %b Realisation :
                {{ object.video.realisation|default:"" }}

        -if object.video.production and object.video.photo_direction
          .col-md-6
            -if object.video.production
              %p
                %b Production :
                {{ object.video.production|default:"" }}
            -if object.video.photo_direction
              %p
                %b Direction photo :
                {{ object.video.photo_direction|default:"" }}

      -if object.video.lto_archive_number
        %p
          %b Numéro d'archive LTO :
          {{ object.video.lto_archive_number|default:"" }}

      -if object.video.observations
        %p
          %i {{ object.video.observations|default:"" }}

      -if object.video.videosection
        %p
          %b Section :
          {{ object.video.videosection|default:"" }}
