-extends "bootstrap3/bootstrap3.html"

-block bootstrap3_title
  Saya-Films

-block bootstrap3_extra_head
  %link{href: "{{ STATIC_URL }}css/simple-sidebar.css", rel: "stylesheet"}
  %link{href: "{{ STATIC_URL }}css/sticky-footer.css", rel: "stylesheet"}
  -block head


-block bootstrap3_content
  #wrapper
    #sidebar-wrapper
      %ul.sidebar-nav
        %li.sidebar-brand
          %a{href: "/"}
            Menu
        %li
          %a{href: "{% url 'upload_video' %}"}
            Uploader des vidéos
        %li
          %a{href: "{% url 'administration_user_list' %}"}
            Utilisateurs et groupes
        %li
          %a{href: "{% url 'administration_section_list' %}"}
            Sections
        %li
          %a{href: "{% url 'administration_video_list' %}"}
            Toutes les vidéos
        %hr
        %li
          %a{href: "{% url 'logout' %}"}
            Déconnexion


    .heading-brand
      %h2{style: "padding-left: 15px"}
        %a{href: "/"}
          %img{src: "{{ STATIC_URL }}img/logo.png", style: "height: 60px", alt: "Saya-Films"}

    #page-content-wrapper
      .container-fluid
        -block content

  %footer.footer
    .container
      %center
        %p.text-muted.admin
          SAYA - <a href="http://www.saya.fr">www.saya.fr</a> - <a href="mailto:lestudio@saya.fr">lestudio@saya.fr</a> - 32 rue des Jeuneurs 75002 Paris - TEL : 01 42 21 10 58 / FAX : 01 42 21 88 98 - Tous droits reservés © SAYA 2015

-block bootstrap3_extra_script
  %script{src: "{{ STATIC_URL }}js/angular.js"}
  %script{src: "{{ STATIC_URL }}js/angular-cookies.js"}
  %script{src: "{{ STATIC_URL }}js/base.js"}
  -block javascript
