-extends "bootstrap3/bootstrap3.html"

-block bootstrap3_title
  Saya-Films

-block bootstrap3_extra_head
  %link{href: "{{ STATIC_URL }}css/simple-sidebar.css", rel: "stylesheet"}
  -block head


-block bootstrap3_content
  #wrapper
    #sidebar-wrapper
      %ul.sidebar-nav
        %li.sidebar-brand
          %a{href: "/"}
            Menu
        %li
          %a{href: "#"}
            Foo


    .heading-brand
      %h2 Saya-Films

    #page-content-wrapper
      .container-fluid
        -block content

-block bootstrap3_extra_script
  -block javascript
