-extends "bootstrap3/bootstrap3.html"

-block bootstrap3_title
  Saya-Films

-block bootstrap3_extra_head
  %link{href: "{{ STATIC_URL }}css/theme.bootstrap.css", rel: "stylesheet"}
  %link{href: "{{ STATIC_URL }}css/sticky-footer.css", rel: "stylesheet"}
  %link{href: "{{ STATIC_URL }}css/video-sidebar.css", rel: "stylesheet"}

  :css
    .navbar-inverse {
      background-image: none;
      background-color: #3A3D44;
      border-radius: 0px;
    }

  -block head


-block bootstrap3_content
  .navbar.navbar-inverse.navbar-bold
    .navbar-inner
      .container
        .navbar-header
          %button.hidden-md.hidden-lg{type: "button", class: "navbar-toggle collapsed", data-toggle: "collapse", data-target: "#toCollapse"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand.navbar-brand{href: "/", style: "padding: 5px; padding-left: 0px"}
            %img{src: "{{ STATIC_URL }}img/logo.png", style: "height: 70px", alt: "Saya-Films"}
        %ul.nav.navbar-nav.navbar-right.hidden-xs.hidden-sm
          %li
            %a{href: "{% url 'logout' %}"}
              Déconnexion
        #toCollapse.collapse.navbar-collapse
          %ul.nav.navbar-nav.hidden-md.hidden-lg
            %li
              %a{href: "{% url 'logout' %}"}
                Déconnexion

  -block heading

  .container-fluid
    #wrapper
      #sidebar-wrapper
        -block sidebar


      #page-content-wrapper
        .container-fluid
          -block content

  %footer.footer.hidden-xs.hidden-sm
    .container-fluid
      %center
        %p.text-muted
          SAYA - <a href="http://www.saya.fr">www.saya.fr</a> - <a href="mailto:lestudio@saya.fr">lestudio@saya.fr</a> - 32 rue des Jeuneurs 75002 Paris - TEL : 01 42 21 10 58 / FAX : 01 42 21 88 98 - Tous droits reservés © SAYA 2015


-block bootstrap3_extra_script
  %script{src: "{{ STATIC_URL }}js/angular.js"}
  %script{src: "{{ STATIC_URL }}js/angular-cookies.js"}
  %script{src: "{{ STATIC_URL }}js/base.js"}
  -block javascript
