-extends "bootstrap3/bootstrap3.html"

-block bootstrap3_title
  Saya-Films

-block bootstrap3_extra_head
  %link{href: "{{ STATIC_URL }}css/video-sidebar.css", rel: "stylesheet"}

  :css
    .navbar-inverse {
      background-image: none;
      background-color: #3A3D44;
      border-radius: 0px;
    }

  -block head


-block bootstrap3_content
  .navbar.navbar-inverse.navbar-bold
    .navbar-inner
      .container
        %a.brand.navbar-brand{href: "/", style: "padding: 5px; padding-left: 0px"}
          %img{src: "{{ STATIC_URL }}img/logo.png", style: "height: 70px", alt: "Saya-Films"}
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: "{% url 'logout' %}"}
              Déconnexion

  .container
    %div{role: "tabpanel"}
      .row.video-heading
        %h1
          Vidéos
          %small.pull-right
            %ul#myTab.nav.nav-pills
              %li.active{role: "tablist"}
                %a{href: "#videosList", aria-controls: "videosList", data-toggle: "tab"}
                  %span.glyphicon.glyphicon-align-left{aria-hidden: "true"}
              %li{role: "tablist"}
                %a{href: "#videosTable", aria-controls: "videosTable", data-toggle: "tab"}
                  %span.glyphicon.glyphicon-list-alt{aria-hidden: "true"}

  .container-fluid
        .video-heading
          %hr

  #wrapper
    #sidebar-wrapper
      -block sidebar


    #page-content-wrapper
      .container-fluid
        -block content

-block bootstrap3_extra_script
  %script{src: "{{ STATIC_URL }}js/angular.js"}
  %script{src: "{{ STATIC_URL }}js/angular-cookies.js"}
  %script{src: "{{ STATIC_URL }}js/base.js"}
  -block javascript
