-extends "bootstrap3/bootstrap3.html"

-block bootstrap3_title
  Saya-Films

-block bootstrap3_extra_head
  -block head

  :css
    .navbar-inverse {
      background-image: none;
      background-color: #3A3D44;
      border-radius: 0px;
    }


-block bootstrap3_content
  .navbar.navbar-inverse.navbar-bold
    .navbar-inner
      .container
        %a.brand.navbar-brand{href: "/"}
          Saya-Films
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: "{% url 'logout' %}"}
              Déconnexion

  .container
    -block content

-block bootstrap3_extra_script
  -block javascript
