-extends "bootstrap3/bootstrap3.html"

-load static

-block bootstrap3_title
  Saya-Films

-block bootstrap3_extra_head
  %link{href: "{% static 'css/theme.bootstrap.css' %}", rel: "stylesheet"}
  %link{href: "{% static 'css/sticky-footer.css' %}", rel: "stylesheet"}
  -block head

  :css
    .navbar-inverse {
      background-image: none;
      background-color: #1B1E23;
      border-color: #1B1E23;
      border-radius: 0px;
    }


-block bootstrap3_content
  .navbar.navbar-inverse.navbar-bold
    .navbar-inner
      .container
        .navbar-header
          %button.hidden-md.hidden-lg{type: "button", class: "navbar-toggle collapsed", data-toggle: "collapse", data-target: "#toCollapse"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand.navbar-brand{href: "/", style: "padding-top: 0px; padding-left: 0px;"}
            %img{src: "{% static 'img/logo.png' %}", style: "height: 75px", alt: "Saya-Films"}
        -if not hide_logout
          %ul.nav.navbar-nav.navbar-right.hidden-xs.hidden-sm
            %li
              %a{href: "{% url 'logout' %}"}
                <b>{{ hide_logout }}</b>
                Déconnexion
          #toCollapse.collapse.navbar-collapse
            %ul.nav.navbar-nav.hidden-md.hidden-lg
              %li
                %a{href: "{% url 'logout' %}"}
                  Déconnexion

  .container
    -block content

  %footer.footer
    .container
      %center
        %p.text-muted
          SAYA - <a href="http://www.saya.fr">www.saya.fr</a> - <a href="mailto:lestudio@saya.fr">lestudio@saya.fr</a> - 32 rue des Jeuneurs 75002 Paris - TEL : 01 42 21 10 58 / FAX : 01 42 21 88 98 - Tous droits reservés © SAYA 2015

-block bootstrap3_extra_script
  -block javascript
