-extends "bootstrap3/bootstrap3.html"

-block bootstrap3_title
  Voltairine

-block bootstrap3_extra_head
  %link{href: "{{ STATIC_URL }}css/theme.bootstrap.css", rel: "stylesheet"}
  %link{href: "{{ STATIC_URL }}css/sticky-footer.css", rel: "stylesheet"}
  -block head

  :css
    .navbar-inverse {
      background-image: none;
      background-color: #15181D;
      border-radius: 0px;
    }


-block bootstrap3_content
  .navbar.navbar-inverse.navbar-bold
    .navbar-inner
      .container
        .navbar-header
          %button.hidden-md.hidden-lg{type: "button", class: "navbar-toggle collapsed", data-toggle: "collapse", data-target: "#toCollapse"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand.navbar-brand{href: "/", style: "padding-top: 0px; padding-left: 0px;"}
            %h1 Voltairine
        %ul.nav.navbar-nav.navbar-right.hidden-xs.hidden-sm
          %li
            %a{href: "{% url 'logout' %}"}
              Déconnexion
        #toCollapse.collapse.navbar-collapse
          %ul.nav.navbar-nav.hidden-md.hidden-lg
            %li
              %a{href: "{% url 'logout' %}"}
                Déconnexion

  .container
    -block content

  %footer.footer
    .container
      %center
        %p.text-muted
          voltairine

-block bootstrap3_extra_script
  -block javascript
