-extends "regular_users_interface/base.haml"

-block content
  %h1{style: "margin-top: 0px"} Films
  %hr

  -for section in section_list
    %h3= section.title
    -for section in section.section_set.all
      -if section.videosection_set.all.exists
        %h4= section.title
        .row
          -for videosection in section.videosection_set.all
            .col-md-3
              .thumbnail
                %img{src: "http://placekitten.com/420/270", alt: "videosection.video.title"}
                .caption
                  %h5= videosection.video.title
                  %p
                    foobar

                  %a.btn.btn-primary{href: "{% url 'user_video_detail' videosection.video.id %}"}
                    Regarder


  -if not section_list
    %p Il n'y a aucune vidéo dans les catégories auxquelles vous avez accès.
