-extends "regular_users_interface/base.haml"
-load mptt_tags
-load section_tags

-block javascript
  %link{href: "{{ STATIC_URL }}css/theme.bootstrap.css", rel: "stylesheet"}
  %link{href: "{{ STATIC_URL }}css/video_list.css", rel: "stylesheet"}
  %script{src: "{{ STATIC_URL }}js/bootstrap.min.js"}
  %script{src: "{{ STATIC_URL }}js/jquery.tablesorter.js"}
  %script{src: "{{ STATIC_URL }}js/jquery.tablesorter.widgets.js"}
  %script{src: "{{ STATIC_URL }}js/video_list.js"}

-block content
  -if not section_list
    %p Il n'y a aucune vidéo dans les catégories auxquelles vous avez accès.

  -else
    %div{role: "tabpanel"}
      .row
        %h1
          Vidéos
          %small.pull-right
            %ul#myTab.nav.nav-pills
              %li.active{role: "tablist"}
                %a{href: "#videosList", aria-controls: "videosList", data-toggle: "tab"}
                  %span.glyphicon.glyphicon-align-left{aria-hidden: "true"}
              %li{role: "tablist"}
                %a{href: "#videosTable", aria-controls: "videosTable", data-toggle: "tab"}
                  %span.glyphicon.glyphicon-list-alt{aria-hidden: "true"}
        %hr

      .tab-content
        %p
          %a#closeAll{href: "#"}
            Tout fermer
          \-
          %a#openAll{href: "#"}
            tout ouvrir

        #videosList.tab-pane.active{role: "tabpanel"}
          -for section, structure in section_list|tree_info
            -if not structure.new_level
              </div>

            <h{% level_to_heading_number section.level %}>
              %a.caret-toggle.toggled{href: "#", data-target: "#{{ section.pk }}-childrens"}
                %span.glyphicon.glyphicon-play
              =section.title
            </h{% level_to_heading_number section.level %}>

            <div id="{{ section.pk }}-childrens" class="subsection">
              .row
                -for videosection in section.videosection_set.all
                  -with video=videosection.video
                    -include "video/thumbnail.haml"

            -for level in structure.closed_levels
              </div>


        #videosTable.tab-pane{role: "tabpanel"}
          %table.tablesorter
            %thead
              %tr
                %th
                  Nom
                %th.filter-select.filter-select-nosort{data-placeholder: "Choisissez une section"}
                  Section
                %th.hidden-xs
                  Durée
                %th.hidden-sm.hidden-xs
                  Résolution
                %th.hidden-sm.hidden-xs
                  taille
                %th.hidden-sm.hidden-xs
                  Fps

            %tfoot
              %tr
                %th
                  Nom
                %th
                  Section
                %th.hidden-xs
                  Durée
                %th.hidden-sm.hidden-xs
                  Résolution
                %th.hidden-sm.hidden-xs
                  taille
                %th.hidden-sm.hidden-xs
                  Fps

            %tbody
              -for section, structure in section_list|tree_info
                -for videosection in section.videosection_set.all
                  -with video=videosection.video
                    %tr
                      %td
                        %a{href: "{% url 'administration_video_detail' video.pk %}"}
                          %img.pull-left{src: "{{ video.thumbnail_uri }}", alt: "{{ video.title }}", style: "height: 60px; margin-right: 5px"}
                        %a{href: "{% url 'administration_video_detail' video.pk %}"}
                          =video.title
                        %br
                        %a.btn.btn-sm{href: "{{ MEDIA_URL }}videos/{{ video.file_name }}"}
                          Télécharger
                      %td
                        =section.display_level_indicator
                        =section.title
                      %td.hidden-xs
                        =video.duration
                      %td.hidden-sm.hidden-xs
                        =video.width_x_height
                      %td.hidden-sm.hidden-xs
                        =video.file_size
                      %td.hidden-sm.hidden-xs
                        =video.fps|floatformat|cut:",0"
                        fps
