-extends "regular_users_interface/base_column.haml"
-load mptt_tags
-load section_tags

-block javascript
  %link{href: "{{ STATIC_URL }}css/theme.bootstrap.css", rel: "stylesheet"}
  %link{href: "{{ STATIC_URL }}css/video_list.css", rel: "stylesheet"}
  %link{href: "{{ STATIC_URL }}css/fuelux.min.css", rel: "stylesheet"}
  %link{href: "{{ STATIC_URL }}css/section_list.css", rel: "stylesheet"}
  %link{href: "{{ STATIC_URL }}css/user_dashboard.css", rel: "stylesheet"}

  %script{src: "{{ STATIC_URL }}js/bootstrap.min.js"}
  %script{src: "{{ STATIC_URL }}js/jquery.tablesorter.js"}
  %script{src: "{{ STATIC_URL }}js/jquery.tablesorter.widgets.js"}
  %script{src: "{{ STATIC_URL }}js/video_list.js"}

-block heading
  .container
    %div{role: "tabpanel"}
      .row.video-heading
        %h1
          %span#title
            Vidéos
          %small.pull-right
            %ul#myTab.nav.nav-pills
              %li.active{role: "tablist"}
                %a{href: "#videosList", aria-controls: "videosList", data-toggle: "tab"}
                  %span.glyphicon.glyphicon-align-left{aria-hidden: "true"}
              %li{role: "tablist"}
                %a{href: "#videosTable", aria-controls: "videosTable", data-toggle: "tab"}
                  %span.glyphicon.glyphicon-list-alt{aria-hidden: "true"}

  .container-fluid
        .video-heading
          %hr

-block sidebar
  .fuelux.pull-right
    -for section, structure in section_list|tree_info
      -if structure.new_level
        <ul class="{% if forloop.first %}tree tree-folder-select{% else %}tree-branch-children{% endif %}" data-parent-id="{{ section.parent.id }}">
          <li class="tree-branch">
      -else
          </div>
          </li>
          <li class="tree-branch">

      <h{% level_to_heading_number section.level %} visible="{% if section in sections_I_can_read %}true{% else %}false{% endif %}" has-video="{% if section in sections_I_can_read and section.videosection_set.exists %}true{% else %}false{% endif %}" class="menu-row">
        %a.fat.fat-left.caret-toggle.toggled{href: "#", data-target: "#{{ section.pk }}-menu-childrens"}
          %span.glyphicon.glyphicon-play
        %a.fat.fat-right.section-menu-link{id: "section-{{ section.pk }}-menu", data-target: "#section-{{ section.pk }}", href: "#", data-title: "{{ section.title }}"}
          =section.title
      </h{% level_to_heading_number section.level %}>

      <div id="{{ section.pk }}-menu-childrens" class="subsection">

      -for level in structure.closed_levels
        </div>
        </li>
        </ul>

-block content
  -if not section_list
    %p Il n'y a aucune vidéo dans les catégories auxquelles vous avez accès.

  -else
    .tab-content
      #videosList.tab-pane.active{role: "tabpanel"}
        -for section in section_list
          .section{id: "section-{{ section.pk }}", visible: "{% if section in sections_I_can_read %}true{% else %}false{% endif %}", has-video: "{% if section in sections_I_can_read and section.videosection_set.exists %}true{% else %}false{% endif %}", style: "display: none"}
            -if section in sections_I_can_read
              .row
                -for videosection in section.videosection_set.all
                  -with video=videosection.video
                    -include "video/thumbnail.haml"



      #videosTable.tab-pane{role: "tabpanel"}
        %table.tablesorter
          %thead
            %tr
              %th
                Nom
              %th.filter-select.filter-select-nosort{data-placeholder: "Choisissez une section"}
                Section
              %th.hidden-xs
                Durée
              %th.hidden-sm.hidden-xs
                Résolution
              %th.hidden-sm.hidden-xs
                taille
              %th.hidden-sm.hidden-xs
                Fps

          %tfoot
            %tr
              %th
                Nom
              %th
                Section
              %th.hidden-xs
                Durée
              %th.hidden-sm.hidden-xs
                Résolution
              %th.hidden-sm.hidden-xs
                taille
              %th.hidden-sm.hidden-xs
                Fps

          %tbody
            -for section, structure in section_list|tree_info
              -if section in sections_I_can_read
                -for videosection in section.videosection_set.all
                  -with video=videosection.video
                    %tr
                      %td
                        %a{href: "{% url 'administration_video_detail' video.pk %}"}
                          %img.pull-left{src: "{{ video.thumbnail_uri }}", alt: "{{ video.title }}", style: "height: 60px; margin-right: 5px"}
                        %a{href: "{% url 'administration_video_detail' video.pk %}"}
                          =video.title
                        %br
                        %a.btn.btn-default.btn-sm{href: "{{ MEDIA_URL }}videos/{{ video.file_name }}"}
                          Télécharger
                      %td
                        =section.display_level_indicator
                        =section.title
                      %td.hidden-xs
                        =video.duration
                      %td.hidden-sm.hidden-xs
                        =video.width_x_height
                      %td.hidden-sm.hidden-xs
                        =video.file_size
                      %td.hidden-sm.hidden-xs
                        =video.fps|floatformat|cut:",0"
                        fps
