-extends "regular_users_interface/base.haml"
-load mptt_tags
-load section_tags

-block content
  %h1{style: "margin-top: 0px"} Films
  %hr

  -for section, structure in section_list|tree_info

        <h{% level_to_heading_number section.level %}>
    =section.title
    </h{% level_to_heading_number section.level %}>

    -if section in sections_I_can_read
      .row
        -for videosection in section.videosection_set.all
          -with video=videosection.video
            -include "video/thumbnail.haml"

  -if not section_list
    %p Il n'y a aucune vidéo dans les catégories auxquelles vous avez accès.
