-extends "base.haml"

-block content
  %h1{style: "margin-top: 0px"} Films
  %hr

  -for subsection in subsection_list
    %h3= subsection.title
    -for subsubsection in subsection.subsubsection_set.all
      -if subsubsection.videosection_set.all.exists
        %h4= subsubsection.title
        .row
          -for videosection in subsubsection.videosection_set.all
            .col-md-2
              .thumbnail
                %img{src: "http://placekitten.com/242/200", alt: "videosection.video.title"}
                .caption
                  %h5= videosection.video.title
                  %p
                    foobar

                  %a.btn.btn-primary
                    Regarder
