-extends "base.haml"

-block javascript
  %script{src: "{{ STATIC_URL }}mediaelementjs/mediaelement-and-player.min.js"}
  %link{rel: "stylesheet", href: "{{ STATIC_URL }}mediaelementjs/mediaelementplayer.min.css"}

  %script{src: "{{ STATIC_URL }}js/plyr.js"}
  %script{src: "{{ STATIC_URL }}js/docs.js"}
  %link{href: "{{ STATIC_URL }}css/plyr.css", rel: "stylesheet"}

  :javascript
    (function(d,p){
        var a=new XMLHttpRequest(),
            b=d.body;
        a.open("GET",p,!0);
        a.send();
        a.onload=function(){
            var c=d.createElement("div");
            c.style.display="none";
            c.innerHTML=a.responseText;
            b.insertBefore(c,b.childNodes[0])
        }
    })(document,"{{ STATIC_URL }}svg/sprite.svg");

    plyr.setup({
      debug: true,
      html: templates.controls.render({}),
    });

  :css
    /* prevent bootstrap from breaking player */
    input[type="range"] {
      width: 100px;
      display: inline-block;
    }

    .player-controls {
      background: #3A3D44;
    }

    .player-progress-played[value] {
      color: #C8C8C8;
    }

-block content
  %h1 Video:
    =object.title
  %hr

  .player
    %video{src: "{{ MEDIA_URL }}videos/{{ object.file_name }}", width: "100%", height: "650", controls: "controls", type: "video/mp4"}

  %p Nom du film:
    -if object.film_name
      =object.film_name

  %p Realisation:
    -if object.realisation
      =object.realisation

  %p Production:
    -if object.production
      =object.production

  %p Direction photo:
    -if object.photo_direction
      =object.photo_direction

  %p Observations:
    -if object.observations
      =object.observations

  -block administration
